[alias]
	co = checkout
	dk = difftool -y -t Kaleidoscope
[user]
	name = Angelo DiNardi
	email = angelo@dinardi.name
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
