[alias]
	co = checkout
	dk = difftool
[user]
	name = Angelo DiNardi
	email = angelo@dinardi.name
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[difftool "Kaleidoscope"]
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
